<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="style.css">
<body>
  <br /><br /><h1>Hi <%= name %></h1><br /><br />
  Following universities you applied <br /><br />
  <!-- <img  src="logo 1.png" alt="logo">
  <img src="logo 2.jpg" alt="logo">
  <img src="logo 3.jpg" alt="logo"><br /><br /> -->
  <l1> <a href="../uni.html">Coventry University </a> </l1><br /><br />
  <l2> <a href="">University of Warwick</a></l2><br /><br />
  <l3> <a href="">University of Birmingham </a></l3><br /><br />
<form action="/logout?_method=DELETE" method="POST">
<button class="btn btn-primary" type="submit">Log Out</button>
</body>
</form>